
@model MusicApp.Models.HomeViewModel
@{
    ViewBag.Title = "MusicApp";
}

<style>
    .music-app {
        background: #121212;
        height: 100%;
        border-radius: 10px;
        padding: 20px;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .music

    {
        position: relative;
        padding: 10px;
        border-radius: 8px;
        height: 300px;
        cursor: pointer;
        .bi-play-fill

    {
        display: block;
    }

    }

    .music:hover {
        background: #1F1F1F;
    }

    .btn-group1 {
        margin-bottom: 20px;
    }

    .btn-top {
        color: black;
        font-size: 14px;
        font-weight: bold;
        border-radius: 30px;
        background: white;
        border: none;
        margin-right: 10px;
    }

    .title {
        color: white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 20px;
    }

        .title:hover {
            text-decoration: underline;
        }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }

    .description {
        padding-top: 10px;
    }

    .inner-desc {
        color: #AAAAAA;
        font-size: 14px;
    }


    .bi-play-fill {
        position: absolute;
        display: none;
        top: 50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        right: 10%;
        font-size: 25px;
        color: black;
        width: 40px;
        height: 40px;
        text-align: center;
        background: #3ADF74;
        border-radius: 50%;
    }
    }
</style>


<div class="music-app">
    <div class="btn-group1">
        <button type="button" class="btn btn-top">Tất cả</button>
        <button type="button" class="btn btn-top">Âm nhạc</button>
        <button type="button" class="btn btn-top">Podcast</button>
    </div>
    <div class="title">Phổ biến</div>


    <div id="searchResult" class="row g-2" style="display:none">
        <h1 style="color:white">Artists</h1><br />
        <div id="matchArtist" class="d-flex" style="flex-wrap:wrap"></div>
        <h1 style="color:white">Songs</h1><br />
        <div id="matchSong" class="d-flex" style="flex-wrap:wrap"></div>
    </div>


    <div id="allSong">
        <div class="row g-2">
            @foreach (var song in Model.PopularSongs)
            {
                <div class="col-md-2 music" onclick="window.location.href='/Song/Details/@song.SongUrl';">
                    <img src="~/Public/Images/@song.SongThumbnail" class="object-fit-contain" />
                    <i class="bi bi-play-fill"></i>
                    <div class="description">
                        <div class="title">@song.SongTitle</div>
                        <a href="~/Artist/DetailArtist/@song.SingerUrl" style="text-decoration:none;" class="inner-desc">
                            @song.SingerName
                        </a>

                    </div>
                </div>
            }


        </div>

        <div class="title">Nhạc Nhật</div>
        <div class="row g-2">
            @foreach (var song in Model.JapaneseSongs)
            {
                <div class="col-md-2 music" onclick="window.location.href='/Song/Details/@song.SongUrl';">
                    <img src="~/Public/Images/@song.SongThumbnail" class="object-fit-contain" />
                    <i class="bi bi-play-fill"></i>
                    <div class="description">
                        <div class="title">@song.SongTitle</div>
                        <a href="~/Artist/DetailArtist/@song.SingerUrl" style="text-decoration:none;" class="inner-desc">
                            @song.SingerName
                        </a>

                    </div>
                </div>
            }


        </div>

        <div class="title">Nhạc Việt</div>
        <div class="row g-2">
            @foreach (var song in Model.VietnameseSongs)
            {
                <div class="col-md-2 music" onclick="window.location.href='/Song/Details/@song.SongUrl';">
                    <img src="~/Public/Images/@song.SongThumbnail" class="object-fit-contain" />
                    <i class="bi bi-play-fill"></i>
                    <div class="description">
                        <div class="title">@song.SongTitle</div>
                        <a href="~/Artist/DetailArtist/@song.SingerUrl" style="text-decoration:none;" class="inner-desc">
                            @song.SingerName
                        </a>

                    </div>
                </div>
            }


        </div>

        <div class="title">Nhạc Hàn</div>
        <div class="row g-2">
            @foreach (var song in Model.KoreanSongs)
            {
                <div class="col-md-2 music" onclick="window.location.href='/Song/Details/@song.SongUrl';">
                    <img src="~/Public/Images/@song.SongThumbnail" class="object-fit-contain" />
                    <i class="bi bi-play-fill"></i>
                    <div class="description">
                        <div class="title">@song.SongTitle</div>
                        <a href="~/Artist/DetailArtist/@song.SingerUrl" style="text-decoration:none;" class="inner-desc">
                            @song.SingerName
                        </a>

                    </div>
                </div>
            }


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search-input').on('input', function () {
            const inputValue = $(this).val().trim();

            if (inputValue === '') {
                $('#allSong').show();
                $('#searchResult').hide();
            } else {
                $('#allSong').hide();
                $('#searchResult').show();
            }
        });
    });

    let searchsongTimeout;
function timesearchSong() {
    clearTimeout(searchsongTimeout);
    searchsongTimeout = setTimeout(() => {
        searchSong();
    }, 300);
}

function searchSong() {
    let keyword = $('#search-input').val().trim();
    console.log(keyword);

        if (keyword.length > 0) {
            $.ajax({
                url: '@Url.Action("Search", "Home")',
                type: 'GET',
                data: { keyword: keyword },
                success: function (response) {
                    console.log(response);
                    console.log(response.Songs)
                    let resultsongHtml = '';
                    let resultsingerHtml = '';
                    if (response.Songs.length > 0) {
                        response.Songs.forEach(function (song) {
                            resultsongHtml += `
                                <div class="col-md-2 music" onclick="window.location.href='/Song/Details/${song.SongUrl}'">
                                    <img src="/Public/Images/${song.SongThumbnail}" class="object-fit-contain" />
                                    <i class="bi bi-play-fill"></i>
                                    <div class="description">
                                        <div class="title">${song.SongTitle}</div>
                                        <a href="/Artist/DetailArtist/${song.SingerUrl}" style="text-decoration:none;" class="inner-desc">
                                            ${song.SingerName}
                                        </a>
                                    </div>
                                </div>
                            `;
                        });
                    } else {
                        resultsongHtml = '<div class="col-12 text-white">Không tìm thấy kết quả nào.</div>';
                    }
                    if (response.Singers.length > 0) {
                        response.Singers.forEach(function (song) {
                            resultsingerHtml += `
                                    <div class="col-md-2 music" onclick="window.location.href='/Artist/DetailArtist/${song.SingerUrl}'">
                                        <img style="border-radius:50%" src="/Public/Images/${song.SingerThumbnail}" class="object-fit-contain" />
                                        <i class="bi bi-play-fill"></i>
                                        <div class="description">
                                            <div class="title">${song.SingerName}</div>
                                            <a href="/Artist/DetailArtist/${song.SingerUrl}" style="text-decoration:none;" class="inner-desc">
                                                Artist
                                            </a>
                                        </div>
                                    </div>
                                `;
                        });
                    } else {
                        resultsingerHtml = '<div class="col-12 text-white">Không tìm thấy kết quả nào.</div>';
                    }
                    $('#matchSong').html(resultsongHtml);
                    $('#matchArtist').html(resultsingerHtml);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        } else {
            $('#matchSong').html('');
            $('#matchArtist').html('');
            $('#searchResult').hide();
            $('#allSong').show();
        }
}
</script>
